body{
    font-family: "poppins",sans-serif;
    display: flex;
    justify-content: center;
    align-items: 10vh;
    background: #000;
}
h1{
    font-size: 2em;
    font-weight: 500;
    color: #000;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
h1:hover{
    color:rgb(8, 212, 226);
    text-shadow: 0 05px #03e9f4,
    0 0 25px #03e9f4,
    0 0 100px #03e9f4,
    0 0 100px #03e9f4,
}